<div *ngIf="!isLoading">

  <div class="task-filter">
    <input type="text"
           placeholder="Search..."
          [(ngModel)]="filterText">
  </div>

  <ul *ngIf="tasksService.tasks.length; else noTasks">
    <li *ngFor="let task of tasksService.tasks | taskFilter:filterText; let i = index" class="task" [class.task-completed]="task.completed">
      <div class="task-checkbox">
        <input type="checkbox" [checked]="task.completed" (change)="onChanged(task.id)">
      </div>
      <div class="task-number">{{i + 1}}</div>
      <div class="task-title">{{task.title}}</div>
      <div class="task-date">{{task.date | date: 'fullDate'}}</div>
      <div>
        <button class="remove" (click)="onRemove(task.id)">&times;</button>
      </div>
    </li>
  </ul>

  <ng-template #noTasks>
    <div class="task-noTask">Задания отсутствуют</div>
  </ng-template>
</div>

<div *ngIf="isLoading" class="task-isLoading">Данные загружаются</div>
